

/* Master styles 
body {
   margin: 0;
   padding: 0;
   height: 100%;
   background: #ffffff none repeat scroll 0 0;
} */
body {
   background-image: url('https://github.com/Arthur4d/potential-pancake/blob/master/Website-html/Images/maindrone.jpg?raw=true');
   background-size: 150%;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
 }
header{
 position:fixed;
 top:0;
 z-index:999;
 left:0;
 width:100%;
 background:#fff;
 border-bottom:1px solid #ccc;
}
/*header ul li {
 display: inline-block;
 list-style: outside none none;
 padding: 5px;
 height: 16px;
 border-bottom: 1px solid transparent;
}
header ul li:hover {
   color: black;
}
header ul li a {
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}
header ul li a:hover {
   color: black;
}*/

/* Nav styles */
.nav-wrapper {
   position:sticky;
   overflow: hidden;
   top: 0;
   justify-content: space-between;
   padding: 25px;
   padding-bottom: 0px;
   background-color: white;
}

.right-side {
   float: right;
   top: 0;
   margin-right: 10px;
   font-size: 18px;
   margin-top: -15px;
}



.left-side {
   display: flex;
   font-size: 0.9em;
   text-transform: uppercase;
   vertical-align: middle;
}

.nav-wrapper > .left-side > div {
   margin-right: 20px;
   font-size: 0.9em;
   text-transform: uppercase;
}

.nav-link-wrapper {
   height: 16px;
   border-bottom: 1px solid transparent;
   transition: border-bottom 0.5s;
   vertical-align: middle;
}


.nav-link-wrapper a {
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}


.nav-link-wrapper:hover {
   border-bottom: 1px solid black;
}


.nav-link-wrapper a:hover {
   color: black;
}

.container {
   position: relative;
   text-align: center;
   color: white;
   min-height: 100%;
}

/*.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }*/
 .hometitle{   
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   size: 7;
 }

 /*.GalleryClass {
    margin-left: 5%;
    margin-right: 20%;
 }*/

 .photo-gallery {
   max-width: 960px;
   margin: 0 auto;
   
   figure {
     line-height: 0;
     
     img {
       max-width: 100%;
       height: auto;
     }
   }
 }

.AboutUsClass {
   text-align: center;
   font-size: large;
}

.OurStoryClass { /* About Us Text Block*/
   font-size: 12.2pt;
   top: 20%;
   margin-right: 20%;
   margin-left: 5%;
}
.DiaryClass{
   margin-left: 5%;
}

.ContactClass {
   margin-left: 5%;
   margin-right: 5%;
}
.mapcontainer {
   width: 50%;
   float:right;
   overflow: hidden;
   margin-top: -23%;
   margin-right: 5%;
   /*
   position:relative; 
   width: 50%;
   height: "450";
   float: right;
   margin-right: 5%;*/
}
/*.map {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 0;
}
   width="600" height="450" frameborder="0" style="border:0;" ="" aria-hidden="false" tabindex="0"*/
.hometext { /* Homepage Text Block*/
   font-size: 13pt;
   position: absolute;
   left: 50pt;
   right: 50pt;
}

footer {
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
  font-size: small;
  background-color: black; 
  z-index: -1;
  color: white;
}

/*.wrapper {
   background: #ffffff;
   padding: 80px 15px;
   z-index: 1;
}*/


.footer-left {
   width: 33%;
   margin-left: 10pt;
}
.footer-right {
   width:30%;
   text-align: right;
}
.footer-centre {
   width:33%;
   text-align: center;
}
.footer-left, .footer-centre, .footer-right{
   display: inline-block;
  vertical-align: top;
}
footer a{
  display:inline-block;
  line-height: 1;
  text-decoration: none;
  color:  white;
}


.container2 {
   max-width: 1024px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
 }
 .img-holder {
   flex-grow:1;
   padding: .2rem;
 } 
 
 .img-holder img {
   display: block;
   min-width: 100%;
   height: 16rem;
   object-fit: cover; 
 }

 .backgroundbox {
   margin-left: 5%;
   margin-right: 5%;
      background-color: rgb(36, 22, 22);
      color: white;
    }