/* Master styles */
body {
   margin: 0;
   padding: 0 0 45px;
   height: 100%;
   background: #ffffff none repeat scroll 0 0;
}

/* Nav styles */
.nav-wrapper {
   display: flex;
   justify-content: space-between;
   padding: 25px;
   padding-bottom: 5em;
}

.right-side {
   color: black;
}

.right-side2 {
   color: #4CAD49;
}

.color {
   color: #4CAD49;
}

.color2 {
   color: white
}

.left-side {
   display: flex;
}

.nav-wrapper > .left-side > div {
   margin-right: 20px;
   font-size: 0.9em;
   text-transform: uppercase;
}

.nav-link-wrapper {
   height: 16px;
   border-bottom: 1px solid transparent;
   transition: border-bottom 0.5s
}

.nav-link-wrapper2 {
   height: 16px;
   border-bottom: 1px solid transparent;
   transition: border-bottom 0.5s
}

.nav-link-wrapper a {
   color: #8a8a8a;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper2 a {
   color: #c9c9c9;
   text-decoration: none;
   transition: color 0.5s;
}

.nav-link-wrapper:hover {
   border-bottom: 1px solid black;
}

.nav-link-wrapper2:hover {
   border-bottom: 1px solid white;
}

.nav-link-wrapper a:hover {
   color: black;
}

.nav-link-wrapper2 a:hover {
   color: white;
}


.container {
   position: relative;
   text-align: center;
   color: white;
   min-height: 100%;
}

.centered {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.centered2 {
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
}
.aboutblock { /* About Us Text Block*/
   color: grey;
   font-size: 12.2pt;
   position: absolute;
   top: 20%;
   left: 20%;
   right: 20%;
}

.map {
   position: absolute;
   top: 80pt;
   left: 50%;
}
.hometext { /* Homepage Text Block*/
   font-size: 13pt;
   position: absolute;
   left: 50pt;
   right: 50pt;
}

footer {
  bottom: 0;
  left:0;
  width: 100%;
  text-align: center;
  font-size: small;
  background-color: #8a8a8a; 
  z-index: -1;
  color: white;
}

.wrapper {
   background: #ffffff;
   padding: 0 15px;
   z-index: 1;
}


.footer-left {
   width: 33%;
   margin-left: 10pt;
}
.footer-right {
   width:30%;
   text-align: right;
}
.footer-centre {
   width:33%;
   text-align: center;
}
.footer-left, .footer-centre, .footer-right{
   display: inline-block;
  vertical-align: top;
}
a{
  display:inline-block;
  line-height: 1;
  text-decoration: none;
  color:  white;
}

